<%= render 'posts/new_post', user: @user, post: @post %>


<div class="col-md-8 offset-md-1">
<h2>post detail</h2>
    <div>
        <p>
         <%= link_to @post.title,post_path %>
        </P>
         <%=link_to user_path(@post.user) do %>
         <% end %>

       <p><%= @post.body %></p>

       <% if @post.image.attached? %>
         <p><%= image_tag @post.image.variant(resize: "100x100") %></p>
       <% else %>
         <p>画像がありません</p>
       <% end %>


        <span>
     <th><%= link_to @user.name,user_path(@post.user) %></th>
     <div>

   </span>

     <% if current_user==@post.user %>
          <%= link_to 'Edit', edit_post_path(@post.id) %>
          <%= link_to 'Destroy', post_path(@post.id), method: :delete, "data-confirm" => "本当に削除しますか？" %>
     <% end %>


    <div>
      <%= flash[:success] %>
    </div>
    </div>
    </div>
    </div>
 </main>